html, body{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 100%;
    overflow-y: scroll;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    color: #ffffff;
    text-align: center; /* 중앙 정렬 */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #1e1e1e;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #444;
}

header.hide{
    transform: translateY(-100%);
    opacity: 0;
}

header h1{
    margin: 0;
    font-size: 2em;
    color: #00e0ff;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #cccccc;
    font-weight: bold;
    cursor: pointer;
}

nav a:hover{
    color: #00e0ff;
}

nav a.active{
    color: #00e0ff;
    border-bottom: 2px solid #00e0ff;
}

iframe {
    max-width: 100%;
    border: none;
    border-radius: 8px;
}

/* 섹션 공통 */
main {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

section{
    scroll-snap-align: start;
    min-height: 100vh; /* 한 화면 높이만큼 차지 'vh' 키워드는 Viewport Height 화면 기준 100%*/
    overflow-y: auto;
    padding-top: 80px; /* 상단 nav 와 겹치지 않도록 여백 */
    box-sizing: border-box;
    border-bottom: 3px solid #333; /* 구분용 줄 추가 */
}

h2 {
    color: #00e0ff;
    margin-bottom: 10px;
}

h3 {
    color: #00e100;
    margin-botton: 8px;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}

.link-card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    boorder-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    transition: transform 0.2s ease;
}

.link-card:hover {
    transform: translateY(-3px);
}

.link-card img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.member-grid {
    display: flex;
    flex-wrap: wrap; /* 넘치면 줄바꿈 */
    gap: 20px; /* 카드 간격 */
    justify-content: center; /* 중앙정렬 */
    margin: auto; /* 필요 시 부모 기준 정중앙 */
    padding: 20px 0;
}

.member-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    border: 1px solid #444;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: auto; /* flex 내에서 중앙 정렬 */
}

.member-card:hover{
    transform: scale(1.05);
}

.member-card img{
    height: 250px;
    object-fit: cover;
}

.member-info {
    padding: 10px;
    text-align: left;
}

.member-info h4{
    margin: 0 0 5px;
    font-size: 1.1em;
    color: #00e0ff;
}

.member-info p{
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    color: #ccc;
}

footer{
    background-color: #1e1e1e;
    color: #aaa;
    text-align:center;
    font-size: 0.85em;
    padding: 40px 20px;
    border-top: 1px solid #444;

    min-height: 20vh;
    scroll-snap-align: start;
}

.footer-top,
.footer-middle,
.footer-bottom {
    margin-botom: 16px;
}

.footer-top p,
.footer-middle p,
.footer-bottom p {
    margin: 4px 0;
    line-height: 1.6;
}

.footer-bottom small {
    color: #666;
    font-size: 0.75em;
}